.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container__buttons{
    display: flex;
    justify-content: center;
}

.container__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.button__login {
    text-align: center;
    border-radius: 40px;
    color: rgba(240,240,240,0.7);
    font-size: 1.25rem;
    background-color:  rgba(89,89,89,0.4);
    border: none;
    padding: .5rem 1rem;
    transition: all .5s ease-in-out;
    width: 10rem;
    height: 3rem;
    margin-top: 1.5rem;
}

.button__login:hover {
    transform: scale(1.05);
}

.input{
    border: none;
    background-color: rgba(171,171,165,0.5);
    color: rgba(240,240,240,0.7);
    font-size: 1.5rem;
    border-radius: 40px;
    text-align: center;
    margin-bottom: .5rem;
    height: 3rem ;
    width: 20rem;
}

.input::placeholder{
    color: rgba(240,240,240,0.7);
    text-transform: capitalize;
}

.input:not(:last-child) {
    margin-top: 10rem;
}

.login__text{
    text-transform: uppercase;
    font-family: "Copperplate",fantasy;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(240,240,240,0.7);
}

.underline{
    margin-top: 1.2rem;
    min-width: 18rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right,black ,white);
    border-image-slice: 1;
}

.user_created__message{
    font-family: "Copperplate",fantasy;
    font-size: 2rem;
    margin-top: 3rem;
}